* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Menu de navegacion */
nav {
    margin: 0;
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: lightgreen;
}

/* Menu de navegacion: Logo, menú hamb */
.logo-txt {
  font-size: 2.5rem;
  font-weight: 600;
}

.menu-hamburguesa {
  display: none;
}

/* Sección principal */
section {
    margin: 5em;
}

h1 {
  text-align: center;
  font-size: 3em;
}

.mi-foto {
    display: block;
    margin: 2.5em auto;
}

/* Habilidades */
.skills1 {
  margin: 2.5em 350px 2.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills2 {
  margin: 2.5em 350px 2.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* @media max-with: 768px */
/* .skills1 > .img_skill:nth-child(3) {
  margin-top: 2.5em;
} */

.img_skill {
  border: 10px solid green;
  border-radius: 10%;
  box-shadow: 10px;
  margin: 0 auto;
  width: 270px;
  height: 270px;
}

@media (max-width: 768px) {
    .checkbtn {
        display: block;
        order: 1;
        margin-right: 20px;
    }

    ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: green;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    ul li {
        margin: 20px 0;
    }

    ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        right: 0;
    }
}